$base-color: #a4ced2;
$hovered-color: #3538d2;

.picture {
    width: 60%;
    margin: 0 auto;
}

.picture path {
    fill: $base-color;

    stroke: white;
    stroke-width: 1px;

    transition: fill 0.3s;
}

.picture path:hover {
    fill: $hovered-color;

    stroke: white;
    stroke-width: 1px;

    transition: fill 0.3s;
}

.presentation {
    text-decoration: underline;
}

#presentationPicture {
    width: 100%;
}

.modal-header {
    background-color: #3d462d;
}
.modal-body {
    background-color: #596643;
}

.modal-body p {
    color: black;
    margin: 0;
}

.modal-body p:first-child {
    margin-top: 20px;
}

.modal-body p:last-child {
    margin-bottom: 15px;
}

span {
    color: whitesmoke;
}

img {
    width: min-content;
}