<div class="container">
  <br>
  <h3 id="classement">Classement du jeu</h3>

  <p class="text-danger">Félicitations à <span class="font-weight-bold">Tristan Plr</span> qui a gagné notre concours sur le jeu.</p>
  <p class="font-italic">Et félicitations à Maxime G. <span class="font-weight-bold">(En vrai snake c'est bien aussi)</span> qui a seulement joué pour participer.</p>
  <p>Merci à tous d'avoir participé.</p>
  <div class="text-center">
    <br><p class="font-italic">Information : le scoreboard ne s'actualise plus.</p>
  </div>

  <!-- <p class="font-weight-light">
    Entrez votre identifiant de l'EISTI pour qu'on soit en mesure de vous contacter afin de vous remettre votre prix!
  </p><br> -->

  <div class="loader mt-5" *ngIf="ranks.length == 0">
    <div class="text-center">
      <div class="spinner-border" role="status">
        <span class="sr-only">Loading...</span>
      </div>
      <p>Chargement du classement...</p>
    </div>
  </div>

  <ul class="list-group">
    <li class="list-group-item text-center" *ngFor="let defi of ranks; let i = index">
      <span class="font-weight-bold">{{ i+1 }} - </span>
      <span class="font-weight-bold">{{ defi.name }} </span>
      <span class="font-italic">{{ defi.score}} </span>
    </li>
  </ul>
  <br>
  <br>
  <br>
  <br>
  <br>
  <br>
</div>