<footer class="text-center text-lg-start">
    <div class="container " style="background-color: red;">
      <div class="row" style="background-color: blue;">
        <!-- partenaires -->
        <div class="col-md"> 
          <!--<p>a</p>--> 
          <app-partenaires></app-partenaires>
        </div>
        <!-- réseaux -->
        <div class="col-md" style="background-color: white">
          <!--<p>b</p>--> 
          <app-reseaux></app-reseaux>
          
        </div>
        
      </div>
    </div>


    <!-- <div class="container p-4">
      <div class="row">
        <app-partenaires></app-partenaires>
        <div class="slide-bottom" id="separator">
      </div>
  
        <app-reseaux></app-reseaux>
      </div>
    </div>
  
    <div class="footer-part text-center p-3">
      © 2020 Copyright:
    </div> -->
  </footer>