/* ----------------------------------------
*              Variables
* ----------------------------------------*/

$footer-main-color: #74AA50;
$footer-second-color: #719949;

$separator-color: #9CAF88;
$separator-margin-side: 25px;
$separator-travel-distance: 15px;
$separator-travel-time: 1.3s;


footer {
    background-color: $footer-main-color;
}

.footer-part {
    background-color: $footer-second-color;
}

.footer-title {
    text-transform: uppercase;
    text-decoration: underline;
}

/* ----------------------------------------
*              Separator
* ----------------------------------------*/

#separator {
    margin-top: -10px;
    margin-left: $separator-margin-side;
    margin-right: $separator-margin-side;
    width: 10px;
    border-radius: 5px;
    background-color: $separator-color;
}


.slide-bottom {
    -webkit-animation: slide-bottom $separator-travel-time linear infinite alternate both;
    animation: slide-bottom $separator-travel-time linear infinite alternate both;
}

@media (max-width: 991px) {
    #separator {
        display: none;
    }
}

/**
 * ----------------------------------------
 * animation slide-bottom
 * ----------------------------------------
 */

@-webkit-keyframes slide-bottom {
   0% {
     -webkit-transform: translateY(0);
             transform: translateY(0);
   }
   100% {
     -webkit-transform: translateY($separator-travel-distance);
             transform: translateY($separator-travel-distance);
   }
}
@keyframes slide-bottom {
   0% {
     -webkit-transform: translateY(0);
             transform: translateY(0);
   }
   100% {
     -webkit-transform: translateY($separator-travel-distance);
             transform: translateY($separator-travel-distance);
   }
}