<footer class="text-center text-lg-start">
    <div>
      <!-- <div class="row" style="background-color: blue;"> -->
        <!-- réseaux -->
        <app-reseaux></app-reseaux>

        
      <!-- </div> -->
    </div>


    <!-- <div class="container p-4">
      <div class="row">
        <app-partenaires></app-partenaires>
        <div class="slide-bottom" id="separator">
      </div>
  
        <app-reseaux></app-reseaux>
      </div>
    </div>
  
    <div class="footer-part text-center p-3">
      © 2020 Copyright:
    </div> -->
  </footer>