<div class="container mb-5" id="weekPlanning">
  <br>
  <h3>Programme de la semaine!</h3>

  <div class="timeline is-centered">
    <header class="timeline-header">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          {{ days[wantedDayIndex] }}
        </button>
        <button class="btn  btn-secondary" (click)="getNextDay()">Next Day</button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
          <a class="dropdown-item" href="#">Action</a>
          <a class="dropdown-item" href="#">Another action</a>
          <a class="dropdown-item" href="#">Something else here</a>
        </div>
      </div>

    </header>

    <div class="timeline-item" *ngFor="let activity of wantedDay;" [ngClass]="activity.lineColor">
      <div class="timeline-marker" [ngClass]="activity.dotColor">
        <i [ngClass]="activity.icon"></i>
      </div>
      <div class="timeline-content">
        <p class="heading">{{ activity.hour }}</p>
        <p class="font-weight-bold">{{ activity.title }}</p>
        <p>{{ activity.description }}</p>
      </div>
    </div>
    <header class="timeline-header">
      <span class="tag is-medium is-primary">A demain</span>
    </header>
  </div>
  <button class="btn btn-secondary" (click)="createActivity()"></button>

</div>