<div class="social-btns">
    <div class="site">
        <a href="https://www.facebook.com/" target="_blank" class="btn facebook">
            <i class="fab fa-facebook-f"></i>
        </a>
    </div>
    <div class="site">
        <a href="https://www.instagram.com/" target="_blank" class="btn instagram">
            <i class="fab fa-instagram"></i>
        </a>
    </div>
    <div class="site">
        <a href="https://www.discord.gg/xEM8wSvy" target="_blank" class="btn discord">
            <i class="fab fa-discord"></i>
        </a>
    </div>
    <div class="site">
        <a href="https://vm.tiktok.com/ZMeB1CET5" target="_blank" class="btn tiktok">
            <i class="fab fa-tiktok"></i>
        </a>
    </div>
</div>

