/* You can add global styles to this file, and also import other style files */
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

body {
    background-color: #ecf0f1;
}

.flex-wrapper {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}
.wrapper {
    flex: 1;
}
/* Importing Bootstrap SCSS file. */
@import '~bootstrap/scss/bootstrap';

@font-face {
    font-family: 'army-buster';
    src: url('./assets/fonts/Army\ Buster.otf') format('truetype');
    font-weight: normal;
    font-style: normal;
}