/* ----------------------------------------
*              Variables
* ----------------------------------------*/

$footer-main-color:white;
$footer-second-color: #f5f5f5;


footer {
    background-color: $footer-main-color;
}

.footer-part {
    background-color: $footer-second-color;
}

.footer-title {
    text-transform: uppercase;
    text-decoration: underline;
}