/* ----------------------------------------
*              Variables
* ----------------------------------------*/

$footer-main-color:rgb(247, 247, 247);
$footer-second-color: #e0e0e0;


footer {
    background-color: $footer-main-color;
}

.footer-part {
    background-color: $footer-second-color;
}

.footer-title {
    text-transform: uppercase;
    text-decoration: underline;
}